body {
    font-family: Calibri, sans-serif;
    padding: 1px;
    margin: 0;
    overflow-x: hidden;
}

.main {
    padding-left: 10%;
    padding-right: 10%;
}

.bg_color {
    background-color: #f5f5f5;
}

.bg_white {
    background-color: #ffffff;
}

/* -- Button -- */

.button_outter {
    margin-top: 35px;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 50px;
    white-space: nowrap;
}

.button {
    padding: 10px 45px;
    font-size: 21px;
    font-weight:1;
    background-color: #3598db;
    color: white;
    border-radius: 30px;
}

/* .button_img {
    height: 21px;
    position: relative;
    top: 4px;
    left: -7px;
    padding-left: 7px;
    padding-right: 4px;
} */

/* ----------- */

.common_title {
    color: #33363f;
    margin-bottom: 0.5%;
    font-weight: normal;
    font-size: 190%;
    text-align: center;
}

.common_subtitle {
    color: #33363f;
    font-size: 121%;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.common_description {
    color: #868686;
    font-size: 86%;
    line-height: 131%;
}