body {
    font-family: Calibri, sans-serif;
    padding: 0px;
    margin: 0px;
}

.main {
    /* width: 60%; */
    padding-left: 20%;
    padding-right: 20%;
}

.bg_color {
    background-color: #F5F5F5;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3b3c3e;
    font-size: 15px;
    padding-top: 11px;
    padding-bottom: 15px;
}

.header>img {
    min-width: 20px;
    max-width: 43px;
    width: 10%;
    margin-left: 10px;
}

.phone_number {
    margin-right: 10px;
}

.phone_icon {
    width: 13px;
    position: relative;
    top:3px;
    right: 4px;
}

.divider {
    width: 100%;
    border-top: 1px solid #e0e0e0;
}